<h1 id="header" [ngClass]="text2bin === true ? 'wrap text-title' : 'wrap binary-title'">{{pageTitle}}
  <span class="version"><a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" 
    [routerLinkActiveOptions]="{exact:true}">v{{appVersion}}
  </a></span></h1>

<div id="logic" class="wrap">
  <mat-radio-group [(ngModel)]="text2bin">
    <mat-radio-button *ngFor="let selection of selections" [value]="selection.val"
      [ngClass]="selection.class" (change)="changeLogic()">
      {{selection.title}} 
    </mat-radio-button>
  </mat-radio-group>
</div>

<div id="input" class="wrap"> 
  <textarea #input [(ngModel)]="inputText" (keyup)="onKeyup()" class="input-area" 
    matInput [placeholder]="placeholderText"></textarea>
</div>

<div id="control" class="wrap">
  <button mat-raised-button color="primary" matTooltip={{clearTooltip}} (click)="onClear()">Clear</button>
</div>

<div id="result" class="wrap">
  {{result}}
</div>

<div id="control-copy" class="wrap">
  <button mat-raised-button color="primary" [class.copy-success]= "isCopied"
    ngxClipboard cbContent={{result}} (cbOnSuccess)="isCopied=true"
    (click)="onCopyClick()" (mouseleave)="onMouseLeave()"
    matTooltip={{copyTooltip}} matTooltipPosition="below"> {{copyButtonText}}
  </button>
</div>
