:host {
  font-family: Roboto,sans-serif;
}

.date {
  font-size: 13px;
  color: #008000;
}

.version {
  font-weight: 600;
  font-size: 16px;
}

.change-text {
  color: #737373;
  padding-top: 3px !important;
}

.change-title {
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}