h1 {
  text-align: center;
}

#input {
  text-align: center;
  max-width: 35rem;
}

.input-area {
  min-height: 9rem;
  min-width: 34.8rem;
  max-width: 34.8rem;
}

#control {
  text-align: right;
  max-width: 35rem;
  margin-top: -0.7rem;
}

.copy-success {
  background-color: #00BCD4;
  color: #fff;
}

#result {
  background: #fff;
  border: 2px solid #1976D2;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24),0 0 2px rgba(0,0,0,0.12);
  margin-bottom: 24px;
  word-wrap: break-word;
  min-height: 9rem;
  max-width: 35rem;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

#control-copy {
  text-align: right;
  max-width: 35rem;
  margin-top: -1.2rem;
}

#logic {
  text-align: left;
  max-width: 35rem;
}

.to-binary {
  padding-right: 1rem;

}

.to-text {

}

.text-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.8rem;
  min-height: 5rem;
  max-height: 5rem;
  color: #999999;
}

.binary-title {
  font-family: "Courier New", Courier, monospace;
  min-height: 5rem;
  max-height: 5rem;
  color: #999999;
}

.version {
  font-size: 0.7rem;
}