<h1 id="header" [ngClass]="text2bin === true ? 'wrap text-title' : 'wrap binary-title'">{{pageTitle}}</h1>

<div id="logic" class="wrap">
  <md-radio-group [(ngModel)]="text2bin">
    <md-radio-button *ngFor="let selection of selections" [value]="selection.val"
      [ngClass]="selection.class" (change)="changeLogic()">
      {{selection.title}} </md-radio-button>
  </md-radio-group>
</div>

<div id="input" class="wrap"> 
  <textarea #input [(ngModel)]="inputText" (keyup)="onKeyup()" class="input-area" 
    mdInput [placeholder]="placeholderText"></textarea>
</div>

<div id="control" class="wrap">
  <button md-raised-button color="primary" mdTooltip={{clearTooltip}} (click)="onClear()">Clear</button>
</div>

<div id="result" class="wrap">
  {{result}}
</div>

<div id="control-copy" class="wrap">
  <button md-raised-button color="primary" [class.copy-success]= "isCopied"
    ngxClipboard cbContent={{result}} (cbOnSuccess)="isCopied=true"
    (click)="onCopyClick()" (mouseleave)="onMouseLeave()"
    mdTooltip={{copyTooltip}} mdTooltipPosition="below"> {{copyButtonText}}
  </button>
</div>
