/* You can add global styles to this file, and also import other style files */

/* Import Material theme*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Cairo|Roboto');

/* Global Properties */


.wrap {
  max-width: 50rem;
  margin: 1rem auto 1rem;
}