/* You can add global styles to this file, and also import other style files */

/* Import Material theme*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Properties */


.wrap {
  max-width: 600px;
  margin: 1rem auto 1rem;
}